{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Question</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script
            id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
        ></script>
        <link rel="stylesheet" href="{% static 'core/main.css' %}" />
        <link rel="stylesheet" href="{% static 'teacher/display.css' %}" />
    </head>
    <body>
        <div class="wrapper">
            <header data-questionid="{{question.id}}">
                {{ question.title }}
            </header>
            <main id="content" class="question">
                <section class="question-description">
                    {{ question.text }}
                </section>
                <section class="question-choices">
                    {% for option in options %}
                    <div class="question-item" data-option="{{option.option}}">
                        <span>{{option.option}}</span>
                        <div class="progress"></div>
                        <div class="toast"></div>
                    </div>
                    {% endfor %}
                </section>
            </main>

            <canvas id="qrcode"></canvas>
        </div>

        <script
            type="text/javascript"
            src="{% static 'teacher/realoadgraph.js' %}"
        ></script>

        <script type="text/javascript">
            new QRious({
                element: document.getElementById('qrcode'),
                value: "http://127.0.0.1:8000{% url 'vote' question.id %}",
            });

            var myTimer = setInterval(function () {
                get_votes(questionid);
            }, 4000);

            window.MathJax = {
                tex: {
                    inlineMath: [
                        ['$', '$'],
                        ['\\(', '\\)'],
                    ],
                },
                loader: { load: ['input/tex', 'output/svg'] },
            };
        </script>
    </body>
</html>
