{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Question</title>
    </head>
    <body>
        <h1>{{ question.title }}</h1>
        <div id="votes">
            {% for option in options %}

            <button
                id="option_{{option.id}}"
                data-optionId="{{option.id}}"
                data-questionId="{{question.id}}"
                type="button"
            >
                {{option.option}}
            </button>

            {% endfor %}
        </div>
        <div id="alert">Vote Submitted</div>
        <script
            type="text/javascript"
            src="{% static 'sendvotes/sendvote.js' %}"
        ></script>
    </body>
</html>
